.confirm-container{
    text-align: center;
}

.confirm-container h2{
    margin-bottom: 1rem;
}

.confirm-container p{
    font-size: .9rem;
    margin-bottom: .5rem;
}

.confirm-container h3{
    margin: 1rem 0;
}

.review-data{
    text-align: left;
}

.review-data svg{
    margin-left: 5px;
}

.review-data span{
    font-weight: bold;
}